<html>

<head>
    <link link rel="stylesheet" type="text/css" href="./static/css/tailwind.css">
    <link rel="shortcut icon" href="./static/img/favicon.ico" type="image/x-icon">  

</head>

<body>
    <div class="relative min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
        style="background-image: url(https://source.unsplash.com/random/1920x1080);">
        <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
        <div class="mt-2 items-center z-10">
            <div class="p-14 bg-white max-w-sm mx-auto rounded-xl shadow-xl overflow-hidden p-6 space-y-10" name="myForm" id="myForm" method="post">
                <h2 class="text-4xl font-bold text-center text-indigo-600">Tinify</h2>
                <div class="f-outline px-2 relative border rounded-lg focus-within:border-indigo-500">
                    <h1>{{ .NURL }}</h1>
                </div>
                <div class="flex items-center flex items-center justify-center mt-4">
                </div>
            </div>
        </div>
    </div>


    <style>
        .f-outline input:focus-within~label,
        .f-outline input:not(:placeholder-shown)~label {
            transform: translateY(-1.5rem) translatex(-1rem) scaleX(0.80) scaleY(0.80);
        }
    </style>
</body>

</html>